.cr-viewed { float: right; text-align: right; position: relative; top: -20px; z-index: 100; }
.cr-viewed .cr-viewed__button { cursor: pointer; display: inline-block; border: 1px solid #666C61; height: 23px; line-height: 23px; padding: 0 10px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5)); background-image: -webkit-linear-gradient(#f4f4f4, #e5e5e5); background-image: -moz-linear-gradient(#f4f4f4, #e5e5e5); background-image: -o-linear-gradient(#f4f4f4, #e5e5e5); background-image: -ms-linear-gradient(#f4f4f4, #e5e5e5); background-image: linear-gradient(#f4f4f4, #e5e5e5); }
.cr-viewed .cr-viewed__drop { position: absolute; right: 0; top: 23px; border: 1px solid #7E7F7A; width: 480px; padding: 10px; background: #fff; text-align: left; }
.cr-viewed .cr-viewed__drop h3 { font-weight: normal; margin-bottom: 14px; font-size: 12px; color: #242424; }
.cr-viewed .cr-viewed__drop .topnews a { text-decoration: none; color: #244783; }

.cr-content { padding: 15px 21px 16px 9px; }

.cr-item_name { margin: 9px 0px; }

.cr-general-info { float: left; width: 292px; margin: 0px 9px; }
.cr-general-info table { margin-left: -9px; }
.cr-general-info .cr-logo { margin: 18px 0px 22px; }
.cr-general-info .cr-item_info { width: 100%; margin: 0px 0px 23px; }
.cr-general-info .cr-item_info th { width: 91px; height: 19px; }
.cr-general-info .cr-item_info span { color: #9b999c; }
.cr-general-info .cr-slogan { height: 130px; background-color: #ccc; }

.cr-guide { position: relative; float: right; width: 613px; height: 544px; margin-bottom: 12px; background: url(../i/cr-map.jpg); }
.cr-guide .cr-s-switcher1 { width: 614px; top: -34px; left: 0; position: absolute; }
.cr-guide .cr-add_company { border: 1px solid #000; font-size: 10px; }
.cr-guide .cr-selected-news { left: 0; top: 0px; bottom: 0; width: 251px; height: auto; padding-bottom: 10px; border: 1px solid #ccc; border-right: none; margin-bottom: 0px; }
.cr-guide .cr-thumb { background-color: #989898; }
.cr-guide .cr-viewport { width: 236px; height: 496px; }
.cr-guide .cr-viewport .cr-search-keyword { margin: 5px 0px 8px; }
.cr-guide .cr-slide_right { position: absolute; left: 252px; top: 0px; bottom: 0; width: 20px; background: #f0f0f0 url(../i/slide_right.png) 50% 50% no-repeat; cursor: pointer; border: 1px solid #ccc; border-left: none; }

.cr-item_descr { clear: both; margin: 0px 0px 12px 9px; height: 351px; background-color: #ccc; }

.cr-item_descr2 { width: 931px; clear: both; margin: 22px 0px 12px 6px; height: 351px; background-color: #ccc; }

.cr-related { margin-top: 24px; padding-left: 10px; }
.cr-related h1 { margin-bottom: 10px; }

.cr-related2 { margin-top: 0px; padding-left: 10px; }

.cr-r-caro { height: 158px; }
.cr-r-caro .r-item_text { padding: 10px 5px 5px; }

.cr-news { border-bottom: none!important; }

.cr-afisha { overflow: hidden; margin: 24px 0px 0px 9px; }
.cr-afisha .cr-hgroup-sub { padding-left: 10px; margin-bottom: 18px; }
.cr-afisha .cr-a-item { margin-right: 42px; }
.cr-afisha .cr-a-item:last-child { margin-right: 0px; }

.cr-citynews { overflow: hidden; margin: 24px 0px 0px 9px; }
.cr-citynews h1 { margin-bottom: 12px; font-size: 24px; font-weight: normal; }
.cr-citynews h3 { font-size: 13px; text-transform: uppercase; font-weight: normal; margin-bottom: 10px; }
.cr-citynews .cr-col { float: left; width: 31%; margin-right: 20px; margin-bottom: 20px; }
.cr-citynews .cr-col ul { list-style: none; border-top: 1px solid #D5D5D5; }
.cr-citynews .cr-col ul li { padding: 8px 0; border-bottom: 1px solid #D5D5D5; }
.cr-citynews .cr-col ul li a { color: #666563; text-decoration: none; }
.cr-citynews .cr-col ul li strong { display: block; }
.cr-citynews .cr-more { text-align: right; font-size: 10px; text-decoration: none; margin-top: 8px; }
.cr-citynews .cr-more a { text-decoration: none; color: #444; }

.guide__header { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe692), color-stop(100%, #ffc349)); background-image: -webkit-linear-gradient(#ffe692, #ffc349); background-image: -moz-linear-gradient(#ffe692, #ffc349); background-image: -o-linear-gradient(#ffe692, #ffc349); background-image: -ms-linear-gradient(#ffe692, #ffc349); background-image: linear-gradient(#ffe692, #ffc349); border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; padding: 8px 0 8px 22px; position: relative; }
.guide__header .guide__headerclose { position: absolute; right: 10px; top: 7px; background: white url(../i/close.png) no-repeat 50% 50%; width: 15px; height: 15px; cursor: pointer; }

.g-detail { width: 310px; position: absolute; left: 224px; top: 0; bottom: 0; z-index: 1000; background: #fff; }
.g-detail h2 { font-size: 18px; font-weight: normal; margin-bottom: 10px; }
.g-detail h2 span { display: block; color: #898989; font-size: 12px; }
.g-detail .g-detail__wrap { padding: 10px; }
.g-detail .g-detail__also { margin-top: 30px; }
.g-detail .g-detail__also h3 { font-weight: normal; font-size: 12px; text-transform: uppercase; color: #333; margin-bottom: 10px; padding: 0; }
.g-detail .g-detail__also ul { margin-left: 10px; list-style: none; }
.g-detail .g-detail__also ul li { padding: 5px 0; border-bottom: 1px solid #EDEDED; }
.g-detail .g-detail__also ul a { text-decoration: none; font-size: 11px; }
.g-detail .g-detail__details { margin: 10px 0 0 0; }
.g-detail .g-detail__details dl { padding-left: 4px; margin-bottom: 6px; }
.g-detail .g-detail__details dl dt { min-width: 84px; display: inline-block; vertical-align: middle; }
.g-detail .g-detail__details dl dd { width: 167px; vertical-align: middle; display: inline-block; }
.g-detail .g-detail__details dl small { font-size: 10px; color: #7F8791; }
.g-detail .g-detail__details dl span { color: #A6919B; }

.distance { font-size: 14px; font-weight: normal; margin: 0 1px; cursor: pointer; }
.distance.distance_active { color: #008A2D; font-size: 17px; }

.cr-wrapper { padding-left: 9px; padding-bottom: 16px; }

.top-menu { padding: 0 10px; font-size: 10px; font-weight: bold; list-style-type: none; overflow: hidden; border-bottom: 1px solid #ccc; }
.top-menu li { float: left; padding: 0 8px; }
.top-menu .top-menu_active { font-size: 12px; color: #000; }
.top-menu a { line-height: 37px; color: #2c6920; text-transform: uppercase; text-decoration: none; }
.top-menu a:hover { text-decoration: underline; }

.post_float { overflow: hidden; margin-left: 0px; }

.post__sidebar { float: right; clear: right; width: 320px; box-sizing: border-box; margin: -15px -10px 0 10px; padding: 20px 9px 14px; text-align: center; border: 1px solid #ccc; border-top: none; }
.post__sidebar .sidebar__banner { margin-bottom: 15px; }

.sidebar__social-plagin { float: left; }
.sidebar__social-plagin:first-child { margin-right: 20px; }

.plagin2-head { height: 33px; background: #5c7fa7 url(../i/vk.png) 2% 49% no-repeat; }
.plagin2-head h4 { line-height: 33px; padding-left: 35px; color: #fff; text-align: left; }

.post-meta_inline { display: inline; overflow: hidden; }

.post__print { padding: 10px 0 0 20px; }
.post__print a { display: inline-block; width: 18px; height: 18px; background: url(../i/print.png) 0% 0% no-repeat; }

.post__item { text-align: center; }
.post__item .post__text { margin-top: 10px; font-weight: bold; text-align: center; }
.post__item .poster { overflow: hidden; margin-top: 15px; }
.post__item .poster img { width: 100%; display: block; }

.post p { text-align: justify; }
.post p span { font-weight: bold; }

.link-to-map { display: inline-block; text-decoration: none; padding-left: 15px; font-weight: bold; background: url(../i/dotdarkgreen-small.png) 0 0 no-repeat; }

.post__author-name { text-align: center; text-transform: uppercase; margin: 20px 0 0 0; }
.post__author-name .author-name-link { text-transform: uppercase; font-size: 12px; color: #002674; }
.post__author-name a { display: inline-block; padding-left: 16px; font-size: 10px; text-transform: none; text-decoration: none; color: #bdbcbc; background: url(../i/author.png) 0% 23% no-repeat; }
.post__author-name a:hover { text-decoration: underline; }

.post__description { text-align: left; }

.post__item_first { text-align: left; overflow: hidden; margin: 40px 0px; }
.post__item_first .news__col { float: left; width: 49%; }
.post__item_first .news__col article { font-size: 14px; text-align: justify; }
.post__item_first .news__col:first-child { padding-right: 10px; }
.post__item_first .news__col h1 { margin-bottom: 20px; }
.post__item_first .news__col h3 { margin-bottom: 20px; }
.post__item_first .news__col .news__picture { overflow: hidden; text-align: center; margin-bottom: 20px; }
.post__item_first .news__col .news__picture img { margin-bottom: 10px; }
.post__item_first .news__col span { display: block; text-align: left; font-size: 11px; color: #9c9b9b; }

.list-news { text-align: left; padding: 5px 0; }
.list-news h4 { text-transform: uppercase; padding-bottom: 10px; }
.list-news ul { list-style-type: none; }
.list-news li { border-top: 1px solid #ccc; }
.list-news a { line-height: 31px; text-decoration: none; color: #9c9b9b; }

.mapping { margin-bottom: 40px; }
.mapping h1 { text-align: center; }
.mapping .mapping__info { margin-top: 30px; }
.mapping .mapping__info h4 { text-transform: uppercase; }
.mapping .mapping__info .mapping__name { padding: 10px 0 0 40px; margin: 10px 0 0 10px; background: url(../i/dotdarkgreen.png) 0 0 no-repeat; color: #9c9b9b; }
.mapping .mapping__info .mapping__name span { display: block; padding-top: 5px; color: #000; }
.mapping .mapping__info .mapping__name span a { text-decoration: none; }
.mapping .mapping__info .mapping__link { display: inline-block; margin-right: 5px; text-decoration: none; font-weight: bold; font-size: 14px; }

.container p.bc_mod { font-size: 12px; }

.post__image { float: right; clear: right; margin-left: 10px; }

.afisha-item__descr { text-align: center; }

.event-position { overflow: hidden; }
.event-position div { float: left; }
.event-position a { display: block; }
.event-position .event-position__title { margin-right: 20px; font-size: 20px; font-weight: bold; }
.event-position .event-position__text { margin-top: 5px; }
.event-position .event-position__text p { margin-bottom: 4px; }
.event-position .event-position__link { text-decoration: none; font-weight: bold; font-size: 14px; line-height: 21px; }
.event-position .event-position__link_small { font-size: 12px; display: inline; }

.event-position_last { clear: both; border-bottom: 1px solid #ccc; padding-top: 30px; }

.map-object { overflow: hidden; margin: 10px 0; }
.map-object .map-object__title { float: left; }
.map-object .map-object__title a { text-decoration: none; }
.map-object .map-object__time { float: right; }

.viewport_mod { height: 538px!important; }

.g-side-in h2 { text-transform: uppercase; }

.cr-guide_mod { margin-top: 55px; float: none; }

.event-description h3 { margin-bottom: 20px; }

.akella-wrap { width: 113px; overflow: hidden; height: 544px; position: absolute; left: 0; top: 0; }
.akella-wrap.is-opened { width: 300px; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.akella-wrap.is-opened .akella-wrap__shadow { display: none; }
.akella-wrap .akella-wrap__shadow { display: block; position: absolute; z-index: 20; right: 0; width: 70px; bottom: 0; top: 0; cursor: pointer; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, #ffffff)); background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 70%); background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 70%); background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 70%); background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 70%); background-image: linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 70%); }
.akella-wrap .akella-wrap__arrow { background: url(../i/aarr.png) no-repeat 0 0; display: inline-block; position: absolute; top: 50%; right: 10px; margin-top: -10px; width: 20px; height: 26px; z-index: 100; }
