.cr-content { padding: 15px 21px 9px 9px; }

.cr-item_name { margin: 9px 0px; }

.cr-general-info { float: left; width: 292px; margin: 0px 9px; }
.cr-general-info table { margin-left: -9px; }
.cr-general-info .cr-logo { margin: 18px 0px 22px; }
.cr-general-info .cr-item_info { width: 100%; margin: 0px 0px 23px; }
.cr-general-info .cr-item_info th { width: 91px; height: 19px; }
.cr-general-info .cr-item_info span { color: #9b999c; }
.cr-general-info .cr-slogan { height: 130px; background-color: #ccc; }

.cr-guide { position: relative; overflow: hidden; float: right; width: 613px; height: 544px; margin-bottom: 12px; background: url(../i/cr-map.jpg); }
.cr-guide .cr-s-switcher1 { width: 180px; }
.cr-guide .cr-add_company { border: 1px solid #000; font-size: 10px; }
.cr-guide .cr-selected-news { left: 0; top: 30px; width: 251px; height: 502px; padding-bottom: 10px; border: 1px solid #ccc; border-right: none; margin-bottom: 0px; }
.cr-guide .cr-thumb { background-color: #989898; }
.cr-guide .cr-viewport { width: 236px; height: 496px; }
.cr-guide .cr-viewport .cr-search-keyword { margin: 5px 0px 8px; }
.cr-guide .cr-slide_right { position: absolute; left: 252px; top: 30px; width: 20px; height: 512px; background: #f0f0f0 url(../i/slide_right.png) 50% 50% no-repeat; cursor: pointer; border: 1px solid #ccc; border-left: none; }

.cr-item_descr { clear: both; margin: 0px 0px 12px 9px; height: 351px; background-color: #ccc; }

.cr-related { margin-top: 24px; padding-left: 10px; }
.cr-related h1 { margin-bottom: 10px; }

.cr-r-caro { height: 158px; }
.cr-r-caro .r-item_text { padding: 10px 5px 5px; }

.cr-news { border-bottom: none !important; }

.cr-afisha { overflow: hidden; margin: 24px 0px 0px 9px; }
.cr-afisha .cr-hgroup-sub { padding-left: 10px; margin-bottom: 18px; }
.cr-afisha .cr-a-item { margin-right: 42px; }
.cr-afisha .cr-a-item:last-child { margin-right: 0px; }

.cr-citynews { overflow: hidden; margin: 24px 0px 0px 9px; }
.cr-citynews h1 { margin-bottom: 12px; }
.cr-citynews h3 { padding-bottom: 12px; border-bottom: 1px solid #ccc; }
.cr-citynews .cr-col-left { float: left; width: 33%; margin-right: 20px; }
.cr-citynews .cr-col-mid { float: left; width: 33%; }
.cr-citynews .cr-col-right { float: right; width: 33%; }
