/*
-----------------------------------------------
Site Layout Styles
Author:   akella at http://cssing.org.ua
Version:  30 Oct 2011
----------------------------------------------- */
body{
	text-align:center;
	}
.out, .footer-in,.header-in{
	width:978px;
	margin:0 auto;
	text-align:left;
	}
	.out{
		width:980px;
		}
	.cols{
		border-top:1px solid #ccc;
		background: inline-image('dot.png','image/png') repeat-y 659px 0;
		width:100%;
        display:table;
		}
		.col2{
			width:300px;
			float:right;
			margin-right:9px;
			display:inline;
			}
		.col1{
			float:left;
			display:inline;
			width:649px;
			margin-left:9px;
			}
		.col-menu{
            display: table-caption;
            margin-left:9px;
		}